
<ion-content>
<div class="login-form">
  <form role="form">
      <fieldset>
          <h2>Login</h2>
          <hr class="colorgraph">
          <div class="form-group">
              <input type="number" [(ngModel)]="data.telefone" name="dfsdfsd" id="asdasd" class="form-control input-lg" placeholder="Digite telefone">
          </div>
          <div class="form-group">
              <input type="password" [(ngModel)]="data.password" name="password" id="password" class="form-control input-lg" placeholder="Digite sua senha">
          </div>
          <span class="button-checkbox">
              <button type="button" class="btn" data-color="info">Me lembre</button>
              <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
              <span>
                <a routerLink='../senhaperdida' class="btn btn-link pull-right">Perdeu a senha?</a>
          </span>
          </span>
          <hr class="colorgraph">
          <div class="buttons-login">
              <div  class="btn-inputs">
                  <input type="button"  (click)="submitForm()" class="btn btn-lg btn-success btn-block" value="Logar">
              </div>
              <div class="btn-inside"> </div>
              <div class="btn-inputs" id="registrar" >
                  <a routerLink='../registro' class="btn btn-lg btn-primary btn-block">Registrar</a>
              </div>
          </div>
      </fieldset>
  </form>
</div>

<script type="text/javascript">
$(function(){
$('.button-checkbox').each(function(){
  var $widget = $(this),
      $button = $widget.find('button'),
      $checkbox = $widget.find('input:checkbox'),
      color = $button.data('color'),
      settings = {
              on: {
                  icon: 'glyphicon glyphicon-check'
              },
              off: {
                  icon: 'glyphicon glyphicon-unchecked'
              }
      };

  $button.on('click', function () {
      $checkbox.prop('checked', !$checkbox.is(':checked'));
      $checkbox.triggerHandler('change');
      updateDisplay();
  });

  $checkbox.on('change', function () {
      updateDisplay();
  });

  function updateDisplay() {
      var isChecked = $checkbox.is(':checked');
      // Set the button's state
      $button.data('state', (isChecked) ? "on" : "off");

      // Set the button's icon
      $button.find('.state-icon')
          .removeClass()
          .addClass('state-icon ' + settings[$button.data('state')].icon);

      // Update the button's color
      if (isChecked) {
          $button
              .removeClass('btn-default')
              .addClass('btn-' + color + ' active');
      }
      else
      {
          $button
              .removeClass('btn-' + color + ' active')
              .addClass('btn-default');
      }
  }
  function init() {
      updateDisplay();
      // Inject the icon if applicable
      if ($button.find('.state-icon').length == 0) {
          $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
      }
  }
  init();
});
});	
</script>
</ion-content>
<style>
    .login-form{
    padding-top: 30px;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .buttons-login{
    display:flex;
    justify-content: center;
    flex-direction: row;  
    flex-grow: 1;  
    align-content: space-between;
    flex-wrap: nowrap;

    }

    .btn-inputs {
    width: 45%;
    }
    .btn-inside{
    width: 10%;
    }
</style>