

<ion-content>
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">BIG BIG</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <!-- <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div> -->
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" routerLink='../configuracao'>Saques</a>
                <a class="dropdown-item" routerLink='../trocarsenha'>Alterar senha</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="sair()">Sair</a>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
               
            </div>
            
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Bem vindo {{nome}}</h1>
                <ol class="breadcrumb mb-4">
                    <!-- <li class="breadcrumb-item active"></li> -->
                <span  style="color: rgb(245, 12, 206); cursor: pointer">
                    <button class="btn btn-primary btn-block" (click)="status()">Atualizar</button> 
                    Saldo {{saldo}}                   
                </span> 
                </ol>
            
                <div class="row">

                    <div class="col-xl-3 col-md-6" *ngFor="let sala of salas; index as i; first as isFirst" >
                        <div class="card {{sala.status == 'Fechada' ? 'bg-danger' : 'bg-primary'}} text-white mb-4">
                            <div class="card-body">
                                <div> {{sala.status}} - {{sala.title}}</div>
                                <div>Online: {{i== 1 : sala.online + 89 : sala.online }}</div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">{{sala.description}}
                                <span  class="small text-white stretched-link pointer" (click)="irParaSala(sala.id, sala.status)"></span>
                                <div class="small text-white"><i class="fas fa-angle-right">Entrar</i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Big Big 2020</div>
                    <div>
                        <a href=""></a>
                        &middot;
                        <a href="">Termos e condições</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</ion-content>
