<ion-content>
  <div class="game"> 
    <div class=itens-left>
     
      <div class="itens-buttom">
        
        
        <div class="sorteio b">
          <div class="bigNumberDisplay">
          </div>
          <span>Bola</span>
          <img src="assets/b{{data.bola}}.gif">

          <audio #audioPlayer>
            <!-- <source src="assets/{{data.bola}}.mp3"> -->
          </audio>
          <span class="text-center"></span>
          <span class="text-center">Sorteio {{data.tipo}}</span>

        </div>
      </div>
      <button type="button" (click)="start()" class="btn btn-primary">Iniciar</button>
<button type="button" (click)="stop()" class="btn btn-secondary">Pausar</button>
<button type="button" (click)="restart()" class="btn btn-success">Reiniciar</button>
    </div>

    <div class="leftColum ">
   
      <div class="dados-cartoes">
        <span class="text-center">Número de bolas sorteadas</span>
        <span id="numero-sorteado">{{data.sorteadas}}</span>
        <span *ngIf="partida">a partida começa em 1 minuto e meio</span>

      </div>
      <div class="bolas-que-sairam">
        <table>
          <tr>
            <td [ngClass]="{'marcar' : data.a[1] }">{{data.a[1]||1}}</td>
            <td [ngClass]="{'marcar' : data.a[2] }">{{data.a[2]|| 2}}</td>
            <td [ngClass]="{'marcar' : data.a[3] }">{{data.a[3] || 3}}</td>
            <td [ngClass]="{'marcar' : data.a[4] }">{{data.a[4] || 4}}</td>
            <td [ngClass]="{'marcar' : data.a[5] }">{{data.a[5]|| 5}}</td>
            <td [ngClass]="{'marcar' : data.a[6] }">{{data.a[6]|| 6}}</td>
            <td [ngClass]="{'marcar' : data.a[7] }">{{data.a[7]||7}}</td>
            <td [ngClass]="{'marcar' : data.a[8] }">{{data.a[8]||8}}</td>
            <td [ngClass]="{'marcar' : data.a[9] }">{{data.a[9]||9}}</td>
            <td [ngClass]="{'marcar' : data.a[10] }">{{data.a[10]||10}}</td>
          </tr>
          <tr>
            <td [ngClass]="{'marcar' : data.a[11] }">{{data.a[11] || 11 }}</td>
            <td [ngClass]="{'marcar' : data.a[12] }">{{data.a[12]|| 12}} </td>
            <td [ngClass]="{'marcar' : data.a[13] }">{{data.a[13] || 13}}</td>
            <td [ngClass]="{'marcar' : data.a[14] }">{{data.a[14] || 14}}</td>
            <td [ngClass]="{'marcar' : data.a[15] }">{{data.a[15] || 15 }}</td>
            <td [ngClass]="{'marcar' : data.a[16] }">{{data.a[16] || 16 }}</td>
            <td [ngClass]="{'marcar' : data.a[17] }">{{data.a[17] || 17 }}</td>
            <td [ngClass]="{'marcar' : data.a[18] }">{{data.a[18] || 18}}</td>
            <td [ngClass]="{'marcar' : data.a[19] }">{{data.a[19] || 19 }}</td>
            <td [ngClass]="{'marcar' : data.a[20] }">{{data.a[20] || 20 }}</td>
          </tr>
          <tr>
            <td [ngClass]="{'marcar' : data.a[21] }">{{data.a[21] || 21 }}</td>
            <td [ngClass]="{'marcar' : data.a[22] }">{{data.a[22] || 22 }}</td>
            <td [ngClass]="{'marcar' : data.a[23] }">{{data.a[23] || 23}}</td>
            <td [ngClass]="{'marcar' : data.a[24] }">{{data.a[24] || 24}}</td>
            <td [ngClass]="{'marcar' : data.a[25] }">{{data.a[25] || 25 }}</td>
            <td [ngClass]="{'marcar' : data.a[26] }">{{data.a[26] || 26 }}</td>
            <td [ngClass]="{'marcar' : data.a[27] }">{{data.a[27] || 27 }}</td>
            <td [ngClass]="{'marcar' : data.a[28] }">{{data.a[28] || 28}}</td>
            <td [ngClass]="{'marcar' : data.a[29] }">{{data.a[29] || 29 }}</td>
            <td [ngClass]="{'marcar' : data.a[30] }">{{data.a[30] || 30 }}</td>
          </tr>
          <tr>
            <td [ngClass]="{'marcar' : data.a[31] }">{{data.a[31] || 31 }}</td>
            <td [ngClass]="{'marcar' : data.a[32] }">{{data.a[32] || 32 }}</td>
            <td [ngClass]="{'marcar' : data.a[33] }">{{data.a[33] || 33}}</td>
            <td [ngClass]="{'marcar' : data.a[34] }">{{data.a[34] || 34}}</td>
            <td [ngClass]="{'marcar' : data.a[35] }">{{data.a[35] || 35 }}</td>
            <td [ngClass]="{'marcar' : data.a[36] }">{{data.a[36] || 36 }}</td>
            <td [ngClass]="{'marcar' : data.a[37] }">{{data.a[37] || 37 }}</td>
            <td [ngClass]="{'marcar' : data.a[38] }">{{data.a[38] || 38}}</td>
            <td [ngClass]="{'marcar' : data.a[39] }">{{data.a[39] || 39 }}</td>
            <td [ngClass]="{'marcar' : data.a[40] }">{{data.a[40] || 40 }}</td>
          </tr>
          <tr>
            <td [ngClass]="{'marcar' : data.a[41] }">{{data.a[41] || 41 }}</td>
            <td [ngClass]="{'marcar' : data.a[42] }">{{data.a[42] || 42 }}</td>
            <td [ngClass]="{'marcar' : data.a[43] }">{{data.a[43] || 43}}</td>
            <td [ngClass]="{'marcar' : data.a[44] }">{{data.a[44] || 44}}</td>
            <td [ngClass]="{'marcar' : data.a[45] }">{{data.a[45] || 45 }}</td>
            <td [ngClass]="{'marcar' : data.a[46] }">{{data.a[46] || 46 }}</td>
            <td [ngClass]="{'marcar' : data.a[47] }">{{data.a[47] || 47 }}</td>
            <td [ngClass]="{'marcar' : data.a[48] }">{{data.a[48] || 48}}</td>
            <td [ngClass]="{'marcar' : data.a[49] }">{{data.a[49] || 49 }}</td>
            <td [ngClass]="{'marcar' : data.a[50] }">{{data.a[50] || 50 }}</td>
          </tr>
          <tr>
            <td [ngClass]="{'marcar' : data.a[51] }">{{data.a[51] || 51 }}</td>
            <td [ngClass]="{'marcar' : data.a[52] }">{{data.a[52] || 52 }}</td>
            <td [ngClass]="{'marcar' : data.a[53] }">{{data.a[53] || 53}}</td>
            <td [ngClass]="{'marcar' : data.a[54] }">{{data.a[54] || 54}}</td>
            <td [ngClass]="{'marcar' : data.a[55] }">{{data.a[55] || 55 }}</td>
            <td [ngClass]="{'marcar' : data.a[56] }">{{data.a[56] || 56 }}</td>
            <td [ngClass]="{'marcar' : data.a[57] }">{{data.a[57] || 57 }}</td>
            <td [ngClass]="{'marcar' : data.a[58] }">{{data.a[58] || 58}}</td>
            <td [ngClass]="{'marcar' : data.a[59] }">{{data.a[59] || 59 }}</td>
            <td [ngClass]="{'marcar' : data.a[60] }">{{data.a[60] || 60 }}</td>
          </tr>
          <tr>
            <td [ngClass]="{'marcar' : data.a[61] }">{{data.a[61] || 61 }}</td>
            <td [ngClass]="{'marcar' : data.a[62] }">{{data.a[62] || 62 }}</td>
            <td [ngClass]="{'marcar' : data.a[63] }">{{data.a[63] || 63}}</td>
            <td [ngClass]="{'marcar' : data.a[64] }">{{data.a[64] || 64}}</td>
            <td [ngClass]="{'marcar' : data.a[65] }">{{data.a[65] || 65 }}</td>
            <td [ngClass]="{'marcar' : data.a[66] }">{{data.a[66] || 66 }}</td>
            <td [ngClass]="{'marcar' : data.a[67] }">{{data.a[67] || 67 }}</td>
            <td [ngClass]="{'marcar' : data.a[68] }">{{data.a[68] || 68}}</td>
            <td [ngClass]="{'marcar' : data.a[69] }">{{data.a[69] || 69 }}</td>
            <td [ngClass]="{'marcar' : data.a[70] }">{{data.a[70] || 70 }}</td>
          </tr>
          <tr>
            <td [ngClass]="{'marcar' : data.a[71] }">{{data.a[71] || 71 }}</td>
            <td [ngClass]="{'marcar' : data.a[72] }">{{data.a[72] || 72 }}</td>
            <td [ngClass]="{'marcar' : data.a[73] }">{{data.a[73] || 73}}</td>
            <td [ngClass]="{'marcar' : data.a[74] }">{{data.a[74] || 74}}</td>
            <td [ngClass]="{'marcar' : data.a[75] }">{{data.a[75] || 75 }}</td>
            <td [ngClass]="{'marcar' : data.a[76] }">{{data.a[76] || 76 }}</td>
            <td [ngClass]="{'marcar' : data.a[77] }">{{data.a[77] || 77 }}</td>
            <td [ngClass]="{'marcar' : data.a[78] }">{{data.a[78] || 78}}</td>
            <td [ngClass]="{'marcar' : data.a[79] }">{{data.a[79] || 79 }}</td>
            <td [ngClass]="{'marcar' : data.a[80] }">{{data.a[80] || 80 }}</td>
          </tr>
          <tr>
            <td [ngClass]="{'marcar' : data.a[81] }">{{data.a[81] || 81 }}</td>
            <td [ngClass]="{'marcar' : data.a[82] }">{{data.a[82] || 82 }}</td>
            <td [ngClass]="{'marcar' : data.a[83] }">{{data.a[83] || 83}}</td>
            <td [ngClass]="{'marcar' : data.a[84] }">{{data.a[84] || 84}}</td>
            <td [ngClass]="{'marcar' : data.a[85] }">{{data.a[85] || 85 }}</td>
            <td [ngClass]="{'marcar' : data.a[86] }">{{data.a[86] || 86 }}</td>
            <td [ngClass]="{'marcar' : data.a[87] }">{{data.a[87] || 87 }}</td>
            <td [ngClass]="{'marcar' : data.a[88] }">{{data.a[88] || 88}}</td>
            <td [ngClass]="{'marcar' : data.a[89] }">{{data.a[89] || 89 }}</td>
            <td [ngClass]="{'marcar' : data.a[90] }">{{data.a[90] || 90 }}</td>
          </tr>
        </table>
      </div>

    </div>

  </div>
  
</ion-content>

<style>
  .diamante {
    background-image: url("assets/a.png");
  }
</style>