
ion-content {
    --ion-background-color: #87cefa;
  }

#a{
  width: 10px;
  height: 5px;
  font-size: 8px;
  padding-bottom: -30px;
  padding-bottom: -40px;

}

#bo{
  border: 1px solid black;
  width: 27px;
  height: 17px;
}

#b{
  font-size: 10px;
 
  padding-bottom: -30px;
}

#c{
  font-size: 10px;
}

