<ion-content>
  <div class="game">
    <div class = itens-left>
      <div class=blackboard>
        <div class="topfive" *ngFor="let cartela of cartelas; index as i; first as isFirst">
           <span class="cartelas"> {{cartela.cartela_id}} </span> 
           <span class="numeros">{{cartela.faltam}}</span>
          </div>
          <!-- <div class="topfive">
              <span  class="cartelas">{{cartelas[1].cartela_id}}</span> 
              <span  class="numeros"> {{cartelas[1].faltam}} </span>
          </div>
          <div class="topfive">
            <span  class="cartelas">{{cartelas[2].cartela_id}}</span> 
            <span  class="numeros">10 25 0 </span>
          </div>
          <div class="topfive">
            <span class="cartelas">{{cartelas[3].cartela_id}}</span> 
            <span  class="numeros">10 25 05 85 85 10 25 05 85 5  </span>
          </div>
          <div class="topfive">
              <span  class="cartelas">{{cartelas[4].cartela_id}}</span>
              <span  class="numeros">10 25 05 85 8 85 85 </span>
          </div>  -->
        </div>
        <div class ="itens-buttom">
          <div class="membro-info b">
            <div class="membronome"> Roberval </div>
            
            <div class="saldo">Saldo 
              <span class=saldo> {{data.saldo || 0}} </span>
            </div>
            <div class="compra-serie ">
                <label for="apostar" >Apostar</label>
                <input  type="number"   [(ngModel)]="data.cartela" id="apostar">
            </div>
            <div *ngIf="data.botao" class="confirma-compra btn btn-primary" (click)="comprarSeries()" >
              Confirmar {{contagem}}
            </div>
            <div class="cartoes-em-jogo ">
              <span> 
                {{data.tantascartela || 0}}
              </span>
              <div class="" >Cartões em Jogo </div> 
            
              <span *ngIf="data.minimo || 2"> 
                {{data.minimo || 2 }} até  
              </span>
              <span *ngIf="data.minimo || 2"> 
                {{data.maximo || 300 }} cartões em jogo 
              </span>
            </div>
          </div>
        <div class="partida-info b"> 
          <div class="info">
            <span>Valor da Série {{data.price || 1000}} </span>
            <span></span>
          </div>
          <div class="info">
            <span>Cartões Vendidos: {{data.quant || 1000}} </span>
            <span></span>
          </div>
          <div class="info">
            <span>
              Prêmio de Linha: {{data.plinha || 1000 }} 
              <img style="width: 10px; height: 10px" src="assets/a.jpeg">
            </span>
            
          </div>
          <div class="info">
            <span>
            Prêmio de Bingo: {{data.pbingo || 1000}}  <img style="width: 10px; height: 10px" src="assets/a.jpeg">
            </span> 
            
          </div>
          <div class="info">
            <span> Acumulado: 1000  <img style="width: 10px; height: 10px" src="assets/a.jpeg"> Até 40 bolas  </span>
          </div>
        </div>
        <div class="sorteio b">
            <div class="bigNumberDisplay" >
              {{data.numbers}}
            </div>
            <span>Bola</span>
            <img src="assets/b{{data.bola}}.gif">
            <audio></audio>
            <audio #audioPlayer>
              <source src="assets/{{data.bola}}.mp3">
            </audio>
            <span class="text-center" ></span>
            <span class="text-center">Sorteio {{data.tipo || 'bingo'}}</span>
          
        </div>
      </div>
    </div>
  
    <div class="leftColum ">
      <div class="cartela-diamante">
        <div class="cartao-dados">
            <span >Cartão </span>
            <span id="mostra-numero" >{{data.mina[0]}}</span>
            <span> Melhor Chance</span>
       </div>
      
      <table>
        <tr>          
          <td><div *ngIf="data.vela[0]; else templateName">{{data.vela[0]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[1]; else templateName">{{data.vela[1]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[2]; else templateName">{{data.vela[2]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[3]; else templateName">{{data.vela[3]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[4]; else templateName">{{data.vela[4]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[5]; else templateName">{{data.vela[5]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[6]; else templateName">{{data.vela[6]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[7]; else templateName">{{data.vela[7]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[8]; else templateName">{{data.vela[8]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
        </tr>
        <tr>
          <td><div *ngIf="data.vela[10]; else templateName">{{data.vela[10]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[11]; else templateName">{{data.vela[11]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[12]; else templateName">{{data.vela[12]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[13]; else templateName">{{data.vela[13]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[14]; else templateName">{{data.vela[14]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[15]; else templateName">{{data.vela[15]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[16]; else templateName">{{data.vela[16]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[17]; else templateName">{{data.vela[17]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[18]; else templateName">{{data.vela[18]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
        </tr>
        <tr>
          <td><div *ngIf="data.vela[20]; else templateName">{{data.vela[20]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[21]; else templateName">{{data.vela[21]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[22]; else templateName">{{data.vela[22]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[23]; else templateName">{{data.vela[23]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[24]; else templateName">{{data.vela[24]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[25]; else templateName">{{data.vela[25]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[26]; else templateName">{{data.vela[26]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[27]; else templateName">{{data.vela[27]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
          <td><div *ngIf="data.vela[28]; else templateName">{{data.vela[28]}}</div> <ng-template #templateName> <img style="width: 20px; height: 20px" src="assets/a.jpeg"></ng-template></td>
        </tr>
      </table>
      <div *ngIf="data.resultadolinha">
        <div  class="alert alert-danger"  role="alert">
          {{data.linhaaaaa}}
        </div>
      </div>
    
  
  </div>
  <div class="dados-cartoes">
    <span class="text-center" >Número de bolas sorteadas</span>
    <span id="numero-sorteado">{{data.sorteadas}}</span>
    <span *ngIf="partida">a partida começa em 1 minuto e meio</span>
    
  </div>
  <div class="bolas-que-sairam">
    <table>
      <tr><td [ngClass]="{'marcar' : data.a[1] }" >{{data.a[1]||1}}</td><td [ngClass]="{'marcar' : data.a[2] }" >{{data.a[2]|| 2}}</td><td [ngClass]="{'marcar' : data.a[3] }" >{{data.a[3] || 3}}</td><td [ngClass]="{'marcar' : data.a[4] }" >{{data.a[4] || 4}}</td><td [ngClass]="{'marcar' : data.a[5] }" >{{data.a[5]|| 5}}</td><td [ngClass]="{'marcar' : data.a[6] }" >{{data.a[6]|| 6}}</td><td [ngClass]="{'marcar' : data.a[7] }" >{{data.a[7]||7}}</td><td [ngClass]="{'marcar' : data.a[8] }" >{{data.a[8]||8}}</td><td [ngClass]="{'marcar' : data.a[9] }" >{{data.a[9]||9}}</td><td [ngClass]="{'marcar' : data.a[10] }" >{{data.a[10]||10}}</td></tr>
      <tr><td [ngClass]="{'marcar' : data.a[11] }" >{{data.a[11] || 11 }}</td><td [ngClass]="{'marcar' : data.a[12] }" >{{data.a[12]|| 12}}  </td><td [ngClass]="{'marcar' : data.a[13] }" >{{data.a[13] || 13}}</td><td [ngClass]="{'marcar' : data.a[14] }" >{{data.a[14] || 14}}</td><td [ngClass]="{'marcar' : data.a[15] }" >{{data.a[15] || 15 }}</td><td [ngClass]="{'marcar' : data.a[16] }" >{{data.a[16] || 16 }}</td><td [ngClass]="{'marcar' : data.a[17] }" >{{data.a[17] || 17 }}</td><td [ngClass]="{'marcar' : data.a[18] }" >{{data.a[18] || 18}}</td><td [ngClass]="{'marcar' : data.a[19] }" >{{data.a[19] || 19 }}</td><td [ngClass]="{'marcar' : data.a[20] }" >{{data.a[20] || 20 }}</td></tr>
      <tr><td [ngClass]="{'marcar' : data.a[21] }" >{{data.a[21] || 21 }}</td><td [ngClass]="{'marcar' : data.a[22] }" >{{data.a[22] || 22 }}</td><td [ngClass]="{'marcar' : data.a[23] }" >{{data.a[23] || 23}}</td><td [ngClass]="{'marcar' : data.a[24] }" >{{data.a[24] || 24}}</td><td [ngClass]="{'marcar' : data.a[25] }" >{{data.a[25] || 25 }}</td><td [ngClass]="{'marcar' : data.a[26] }" >{{data.a[26] || 26 }}</td><td [ngClass]="{'marcar' : data.a[27] }" >{{data.a[27] || 27 }}</td><td [ngClass]="{'marcar' : data.a[28] }" >{{data.a[28] || 28}}</td><td [ngClass]="{'marcar' : data.a[29] }" >{{data.a[29] || 29 }}</td><td [ngClass]="{'marcar' : data.a[30] }" >{{data.a[30] || 30 }}</td></tr>
      <tr><td [ngClass]="{'marcar' : data.a[31] }" >{{data.a[31] || 31 }}</td><td [ngClass]="{'marcar' : data.a[32] }" >{{data.a[32] || 32 }}</td><td [ngClass]="{'marcar' : data.a[33] }" >{{data.a[33] || 33}}</td><td [ngClass]="{'marcar' : data.a[34] }" >{{data.a[34] || 34}}</td><td [ngClass]="{'marcar' : data.a[35] }" >{{data.a[35] || 35 }}</td><td [ngClass]="{'marcar' : data.a[36] }" >{{data.a[36] || 36 }}</td><td [ngClass]="{'marcar' : data.a[37] }" >{{data.a[37] || 37 }}</td><td [ngClass]="{'marcar' : data.a[38] }" >{{data.a[38] || 38}}</td><td [ngClass]="{'marcar' : data.a[39] }" >{{data.a[39] || 39 }}</td><td [ngClass]="{'marcar' : data.a[40] }" >{{data.a[40] || 40 }}</td></tr>
      <tr><td [ngClass]="{'marcar' : data.a[41] }" >{{data.a[41] || 41 }}</td><td [ngClass]="{'marcar' : data.a[42] }" >{{data.a[42] || 42 }}</td><td [ngClass]="{'marcar' : data.a[43] }" >{{data.a[43] || 43}}</td><td [ngClass]="{'marcar' : data.a[44] }" >{{data.a[44] || 44}}</td><td [ngClass]="{'marcar' : data.a[45] }" >{{data.a[45] || 45 }}</td><td [ngClass]="{'marcar' : data.a[46] }" >{{data.a[46] || 46 }}</td><td [ngClass]="{'marcar' : data.a[47] }" >{{data.a[47] || 47 }}</td><td [ngClass]="{'marcar' : data.a[48] }" >{{data.a[48] || 48}}</td><td [ngClass]="{'marcar' : data.a[49] }" >{{data.a[49] || 49 }}</td><td [ngClass]="{'marcar' : data.a[50] }" >{{data.a[50] || 50 }}</td></tr>
      <tr><td [ngClass]="{'marcar' : data.a[51] }" >{{data.a[51] || 51 }}</td><td [ngClass]="{'marcar' : data.a[52] }" >{{data.a[52] || 52 }}</td><td [ngClass]="{'marcar' : data.a[53] }" >{{data.a[53] || 53}}</td><td [ngClass]="{'marcar' : data.a[54] }" >{{data.a[54] || 54}}</td><td [ngClass]="{'marcar' : data.a[55] }" >{{data.a[55] || 55 }}</td><td [ngClass]="{'marcar' : data.a[56] }" >{{data.a[56] || 56 }}</td><td [ngClass]="{'marcar' : data.a[57] }" >{{data.a[57] || 57 }}</td><td [ngClass]="{'marcar' : data.a[58] }" >{{data.a[58] || 58}}</td><td [ngClass]="{'marcar' : data.a[59] }" >{{data.a[59] || 59 }}</td><td [ngClass]="{'marcar' : data.a[60] }" >{{data.a[60] || 60 }}</td></tr>
      <tr><td [ngClass]="{'marcar' : data.a[61] }" >{{data.a[61] || 61 }}</td><td [ngClass]="{'marcar' : data.a[62] }" >{{data.a[62] || 62 }}</td><td [ngClass]="{'marcar' : data.a[63] }" >{{data.a[63] || 63}}</td><td [ngClass]="{'marcar' : data.a[64] }" >{{data.a[64] || 64}}</td><td [ngClass]="{'marcar' : data.a[65] }" >{{data.a[65] || 65 }}</td><td [ngClass]="{'marcar' : data.a[66] }" >{{data.a[66] || 66 }}</td><td [ngClass]="{'marcar' : data.a[67] }" >{{data.a[67] || 67 }}</td><td [ngClass]="{'marcar' : data.a[68] }" >{{data.a[68] || 68}}</td><td [ngClass]="{'marcar' : data.a[69] }" >{{data.a[69] || 69 }}</td><td [ngClass]="{'marcar' : data.a[70] }" >{{data.a[70] || 70 }}</td></tr>
      <tr><td [ngClass]="{'marcar' : data.a[71] }" >{{data.a[71] || 71 }}</td><td [ngClass]="{'marcar' : data.a[72] }" >{{data.a[72] || 72 }}</td><td [ngClass]="{'marcar' : data.a[73] }" >{{data.a[73] || 73}}</td><td [ngClass]="{'marcar' : data.a[74] }" >{{data.a[74] || 74}}</td><td [ngClass]="{'marcar' : data.a[75] }" >{{data.a[75] || 75 }}</td><td [ngClass]="{'marcar' : data.a[76] }" >{{data.a[76] || 76 }}</td><td [ngClass]="{'marcar' : data.a[77] }" >{{data.a[77] || 77 }}</td><td [ngClass]="{'marcar' : data.a[78] }" >{{data.a[78] || 78}}</td><td [ngClass]="{'marcar' : data.a[79] }" >{{data.a[79] || 79 }}</td><td [ngClass]="{'marcar' : data.a[80] }" >{{data.a[80] || 80 }}</td></tr>
      <tr><td [ngClass]="{'marcar' : data.a[81] }" >{{data.a[81] || 81 }}</td><td [ngClass]="{'marcar' : data.a[82] }" >{{data.a[82] || 82 }}</td><td [ngClass]="{'marcar' : data.a[83] }" >{{data.a[83] || 83}}</td><td [ngClass]="{'marcar' : data.a[84] }" >{{data.a[84] || 84}}</td><td [ngClass]="{'marcar' : data.a[85] }" >{{data.a[85] || 85 }}</td><td [ngClass]="{'marcar' : data.a[86] }" >{{data.a[86] || 86 }}</td><td [ngClass]="{'marcar' : data.a[87] }" >{{data.a[87] || 87 }}</td><td [ngClass]="{'marcar' : data.a[88] }" >{{data.a[88] || 88}}</td><td [ngClass]="{'marcar' : data.a[89] }" >{{data.a[89] || 89 }}</td><td [ngClass]="{'marcar' : data.a[90] }" >{{data.a[90] || 90 }}</td></tr>
    </table> 
  </div>
    <div class="chat-toggle">
      <iframe src="https://minnit.chat/bigbig1?embed&nickname=" 
      allowTransparency="true">
      </iframe>
      <a href="https://minnit.chat/bigbig1" target="_blank"></a>
    </div>
  </div>
  
  </div>
  </ion-content>
  
  
  <style>
  
  #mostra-numero{
    border: 1px solid yellow;
    color: yellow;
    padding: 1px;
    min-width: 60px;
    text-align: center;
    font-weight: 800;
  }
  .cartao-dados{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
  
  .cartela-diamante {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  
  .cartela-diamante table{
    text-align: center;
    border: 3px inset white;
   
  }
  
  .chat-toggle{
  max-height: 30px;
  width: 100%;
  
  }
  .bolas-que-sairam table{
  color: rgba(216, 217, 218, 0.952);
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-weight: 700;
  
  border: 2px outset white;
  }
  
  .marcar  {
  color:rgb(5, 8, 209);
  }
  
  .diamante{
  background-image: url("assets/a.jpeg") ;
  }
  
  .info{
  display: flex;
  font-size: 10px; 
  width: 100px; 
  font-weight: 900;
  justify-content:  center;
  text-align: center;
  flex-direction: column;
  
  }
  
  .membronome {
  font-weight: 900;
  }
  
  .cartoes-em-jogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.6em;
  font-weight: 900;
  
  }
  
  .saldo{
  font-weight: 900;
  font-size: 12px;
  
  }
  
  .confirma-compra{
  margin-top: 3px;
  font-weight: 900;
  font-size: 10px;
  }
  
  .b{
  box-sizing: border-box;
  border: 2px outset white;
  border-radius: 5px;
  margin: 1px 1px 1px 1px;
  }  
  .game{
  display:flex;
  height: 100%;
  width: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
  background-color: #87cefa;
  }
  .itens-left{
  display: flex;
  height: 100%;
  width: 60%;
  
  border-radius: 2px;
  flex-direction: column;
  
  }
  
  .itens-buttom{
  padding-top: 10px;
  display: flex;
  height: 60%;
  
  }
  
  .membro-info{
  width: 30%;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  }
  
  .compra-input{
  
  border: solid 1px black;
  height: 20px;
  width: 30%;
  }
  
  .compra-serie{
  display: flex;
  flex-direction: column;
  width: 100px;
  font-weight: 900;
  font-size: 8pt;
  text-align: center;
  
  }
  
  
  .partida-info{
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  padding: 3px 0 5px 0 ;
  
  } 
  .sorteio{
  width: 35%;
  display: flex; 
  flex-direction: column;
  text-align: center;
  font-weight: 800;
  background-color: white;
  }
  
  .leftColum{
  display: flex;
  width: 40%;
  
  justify-content: space-between;
  flex-direction: column;
  
  }
  .blackboard{
  padding: 2px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50%;
  width: 100%;
  border: 3px ridge white;
  border-radius: 10px;
  
  background-color: black;
  }
  .topfive {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  
  }
  .cartelas{
  color: white;
  font-size: medium;
  border: 1px solid white;
  background-color: #009a98;
  padding-left: 10px; 
  padding-right: 10px;
  padding-top: 2px; 
  text-align: center;
  margin-right: 10px;
  min-width: 80px;
  }
  .numeros{
  min-width: 250px;
  font: 1em sans-serif;
  text-align: center;
  color: white;
  text-align: left;
  }
  .bolas-que-sairam{
  
  }
  .dados-cartoes{ 
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-width: 65px;
  background-color: black;
  font-size: 7px;
  font-weight: 700;
  color: darkgoldenrod;
  font-size: 15px;
    
  
  }
  #numero-sorteado{
  color: blanchedalmond; 
  font-weight: 700; 
  font-size: 15px; 
  
  }
  
  input:focus {
  background-color:lightblue;
  }
  </style>