
  <ion-content>
    <div class="container">

        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form">
                    <fieldset>
                        <h2>Registro do BIG BIG</h2>
                        <hr class="colorgraph">
                        <div class="form-group">
                          <input type="text" name="eadasd" [(ngModel)]="data.nome"  class="form-control input-lg" placeholder="Digite seu nome">
                      </div>
                      <div class="form-group">
                        <input type="text" name="dasdsad" id="" [(ngModel)]="data.sobre" class="form-control input-lg" placeholder="Digite seu segundo nome">
                    </div>
                      <div class="form-group">
                      <input type="text" name="eadasdas" id="" [(ngModel)]="data.telefone" class="form-control input-lg" mask='00000000000' [dropSpecialCharacters]="false" placeholder="Digite seu telefone com DDD">
                      </div>
                      <div class="form-group">
                        <input type="text" name="easdasda" [(ngModel)]="data.indicou" class="form-control input-lg" placeholder="Digite quem te indicou">
                        </div>
                       
                        <div class="form-group">
                          <input type="password" name="adasdasl" [(ngModel)]="data.password" class="form-control input-lg" placeholder="Digite sua senha">
                      </div>
                        <div class="form-group">
                            <input type="password" name="password" [(ngModel)]="data.repita" class="form-control input-lg" placeholder="Repita sua senha">
                        </div>
                        
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input (click)="submitForm()" type="submit" class="btn btn-lg btn-primary btn-block" value="Registrar">
                            </div>
                             <div class="col-xs-6 col-sm-6 col-md-6">
                                <a routerLink='../login' class="btn btn-lg btn-success btn-block">Voltar</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        
        </div>	<script type="text/javascript">
            $(function(){
            $('.button-checkbox').each(function(){
                var $widget = $(this),
                    $button = $widget.find('button'),
                    $checkbox = $widget.find('input:checkbox'),
                    color = $button.data('color'),
                    settings = {
                            on: {
                                icon: 'glyphicon glyphicon-check'
                            },
                            off: {
                                icon: 'glyphicon glyphicon-unchecked'
                            }
                    };
        
                $button.on('click', function () {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                    $checkbox.triggerHandler('change');
                    updateDisplay();
                });
        
                $checkbox.on('change', function () {
                    updateDisplay();
                });
        
                function updateDisplay() {
                    var isChecked = $checkbox.is(':checked');
                    // Set the button's state
                    $button.data('state', (isChecked) ? "on" : "off");
        
                    // Set the button's icon
                    $button.find('.state-icon')
                        .removeClass()
                        .addClass('state-icon ' + settings[$button.data('state')].icon);
        
                    // Update the button's color
                    if (isChecked) {
                        $button
                            .removeClass('btn-default')
                            .addClass('btn-' + color + ' active');
                    }
                    else
                    {
                        $button
                            .removeClass('btn-' + color + ' active')
                            .addClass('btn-default');
                    }
                }
                function init() {
                    updateDisplay();
                    // Inject the icon if applicable
                    if ($button.find('.state-icon').length == 0) {
                        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                    }
                }
                init();
            });
        });	</script>
  </ion-content>
  